In [ ]:
# Let's import libraries we will use
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
# I want my data frame to only show two decimal places for the number, so I change the display format:
pd.options.display.float_format = "{:,.2f}".format

In [ ]:
df= pd.read_csv("/content/drive/MyDrive/Machine Learnng/heart.csv")
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0     2.30      0   0     1       1
1   37    1   2       130   250    0  ...      0     3.50      0   0     2       1
2   41    0   1       130   204    0  ...      0     1.40      2   0     2       1
3   56    1   1       120   236    0  ...      0     0.80      2   0     2       1
4   57    0   0       120   354    0  ...      1     0.60      2   0     2       1

[5 rows x 14 columns]

In [ ]:
# Normalize
x = (x_data - np.min(x_data)) / (np.max(x_data) - np.min(x_data)).values

In [ ]:
X=df.drop('target',axis=1).values    
y=df['target'].values
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(x_train, y_train)
print("Random Forest Algorithm Accuracy Score : {:.2f}%".format(nb.score(x_test,y_test)*100))

Random Forest Algorithm Accuracy Score : 83.61%

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).