In [ ]:
# Let's import libraries we will use
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, recall_score ,f1_score

In [ ]:
# I want my data frame to only show two decimal places for the number, so I change the display format:
pd.options.display.float_format = "{:,.2f}".format

In [ ]:
df= pd.read_csv("/content/Heart Attack.csv")
df.head()

   age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1  ...     0     2.30    0    0      1       1
1   37    1   2     130   250    0  ...     0     3.50    0    0      2       1
2   41    0   1     130   204    0  ...     0     1.40    2    0      2       1
3   56    1   1     120   236    0  ...     0     0.80    2    0      2       1
4   57    0   0     120   354    0  ...     1     0.60    2    0      2       1

[5 rows x 14 columns]

In [ ]:
import itertools
def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):

    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)

    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, format(cm[i, j], fmt),
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

In [ ]:
X=df.drop('output',axis=1).values    
y=df['output'].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)

In [ ]:
# Random Forest Classification
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 1000, random_state = 1)
rf.fit(X_train, y_train)
print("Random Forest Algorithm Accuracy Score : {:.3f}%".format(rf.score(X_test,y_test)*100))

Random Forest Algorithm Accuracy Score : 88.525%

In [ ]:
rf_yhat = rf.predict(X_test)
rf_yhat [0:5]
print (classification_report(y_test, rf_yhat))

              precision    recall  f1-score   support

           0       0.85      0.88      0.86        25
           1       0.91      0.89      0.90        36

    accuracy                           0.89        61
   macro avg       0.88      0.88      0.88        61
weighted avg       0.89      0.89      0.89        61

In [ ]:
from sklearn import metrics
rf_Score = metrics.accuracy_score(y_test, rf_yhat)
print("Train set Accuracy: ", metrics.accuracy_score(y_train, rf.predict(X_train))*100,"%")
print("rf's Accuracy: ", rf_Score*100,"%")

Train set Accuracy:  100.0 %
rf's Accuracy:  88.52459016393442 %

In [ ]:
rf_Recall = recall_score(y_test, rf_yhat)
rf_F1Score = f1_score(y_test, rf_yhat)

print("\nrf's Accuracy: ", rf_Score*100,"%")

rf's Accuracy:  88.52459016393442 %